<div class="navbar">
  <div class="brand">
    <h1>DataTransfer</h1>
  </div>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <div class="dropdown">
      <button class="dropbtn">Pemain</button>
      <div class="dropdown-content">
        <a href="ligabelanda">Liga Belanda</a><br />
        <a href="ligainggris">Liga Inggris</a><br />
        <a href="ligajerman">Liga Jerman</a><br />
        <a href="ligaprancis">Liga Prancis</a><br />
        <a href="ligaspanyol">Liga Spanyol</a>
      </div>
    </div>
    <li><a href="about">About</a></li>
  </ul>
</div>
